<div class="cart-item">
  <table>
  <tbody>
    <tr>
      <th class="col-4">{{cartItem.productName}}</th>
      <th class="col-2">{{cartItem.qty}}</th>
      <th class="col-4">{{(cartItem.qty * cartItem.price) | currency:'INR'}}</th>
      <i *ngIf="cartItem.length != 0" class="fas fa-trash float-right" (click)="handleRemoveFromCart(cartItem)">
      </i>
    </tr>
  </tbody>
    </table>
 <!-- <span>{{cartItem.productName}}</span> * <span>{{cartItem.qty}}</span>: <strong>{{(cartItem.qty * cartItem.price) | currency:'INR'}}</strong> -->
</div>
